* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm; }
    body .container .side {
      position: relative;
      width: 40%;
      background-color: lightgrey;
      padding: 15px; }
      body .container .side .profile {
        background-color: #B23A48;
        position: absolute;
        top: 40px;
        right: -15px;
        height: 600px;
        width: 90%;
        z-index: 1;
        -webkit-clip-path: polygon(0 90%, 100% 100%, 100% 0, 0 0);
                clip-path: polygon(0 90%, 100% 100%, 100% 0, 0 0); }
        body .container .side .profile img {
          display: block;
          width: 200px;
          height: 200px;
          margin: 40px auto 40px auto;
          border: 3px solid #D77A7D;
          border-radius: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          background-color: white; }
        body .container .side .profile div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          text-align: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0 10px;
          margin: 20px 0; }
          body .container .side .profile div i {
            width: 40px;
            height: 40px;
            background-color: lightgrey;
            border-radius: 100%;
            font-size: 22px;
            line-height: 40px; }
          body .container .side .profile div span {
            color: #FCB9B2;
            letter-spacing: 1px;
            font-size: 22px; }
          body .container .side .profile div a, body .container .side .profile div a:active, body .container .side .profile div a:link, body .container .side .profile div a:visited {
            color: #FCB9B2;
            text-decoration: none; }
      body .container .side .languages {
        margin-top: 650px; }
      body .container .side .languages div, body .container .side .interests div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 20px; }
        body .container .side .languages div i, body .container .side .interests div i {
          margin: 0 5px;
          font-size: 22px;
          color: #B23A48; }
      body .container .side .heading {
        min-height: 50px;
        display: block;
        overflow: hidden;
        text-align: center; }
        body .container .side .heading h2, body .container .side .heading h3 {
          position: relative;
          display: inline-block;
          letter-spacing: 4px;
          text-transform: uppercase;
          margin: 10px 0; }
          body .container .side .heading h2:before, body .container .side .heading h2:after, body .container .side .heading h3:before, body .container .side .heading h3:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 3px;
            background: #B23A48; }
          body .container .side .heading h2:before, body .container .side .heading h3:before {
            right: 100%;
            margin-right: 15px; }
          body .container .side .heading h2:after, body .container .side .heading h3:after {
            left: 100%;
            margin-left: 15px; }
    body .container .main {
      position: relative;
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: white;
      padding: 40px; }
      body .container .main .title h1 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 0;
        font-size: 40px; }
        body .container .main .title h1 span {
          color: #B23A48; }
      body .container .main .title h2 {
        font-weight: normal;
        text-align: center;
        letter-spacing: 2px;
        margin-top: 0; }
      body .container .main .heading {
        min-height: 50px;
        display: block;
        overflow: hidden;
        text-align: center; }
        body .container .main .heading h2, body .container .main .heading h3 {
          position: relative;
          display: inline-block;
          letter-spacing: 4px;
          text-transform: uppercase;
          margin: 10px 0; }
          body .container .main .heading h2:before, body .container .main .heading h2:after, body .container .main .heading h3:before, body .container .main .heading h3:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 3px;
            background: #B23A48; }
          body .container .main .heading h2:before, body .container .main .heading h3:before {
            right: 100%;
            margin-right: 15px; }
          body .container .main .heading h2:after, body .container .main .heading h3:after {
            left: 100%;
            margin-left: 15px; }
      body .container .main .skills div {
        text-align: left;
        line-height: 1.25; }
        body .container .main .skills div p {
          font-weight: bold;
          margin: 10px 0;
          color: #B23A48; }
      body .container .main .experiences div, body .container .main .studies div {
        text-align: left; }
        body .container .main .experiences div p:not(:first-child), body .container .main .studies div p:not(:first-child) {
          margin: 5px 15px; }
        body .container .main .experiences div p:first-child, body .container .main .studies div p:first-child {
          padding: 5px;
          margin: 5px 0;
          font-weight: bold;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          border: 1px solid #B23A48;
          color: #B23A48;
          font-size: 16px;
          display: inline-block; }
        body .container .main .experiences div span, body .container .main .studies div span {
          font-weight: bold;
          padding-left: 15px; }
      body .container .main .date {
        position: absolute;
        bottom: 20px;
        right: 50px; }
