@mixin heading {
  min-height: 50px;
  display: block;
  overflow: hidden;
  text-align: center;

  h2, h3 {
    position: relative;
    display: inline-block;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 3px;
      background: $tertiary;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}