@import "./assets/variables";
@import "./assets/mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm;

    .side {
      position: relative;
      width: 40%;
      background-color: lightgrey;
      padding: 15px;

      .profile {
        background-color: $tertiary;
        position: absolute;
        top: 40px;
        right: -15px;
        height: 600px;
        width: 90%;
        z-index: 1;
        clip-path: polygon(0 90%, 100% 100%, 100% 0, 0 0);

        img {
          display: block;
          width: 200px;
          height: 200px;
          margin: 40px auto 40px auto;
          border: 3px solid $primary;
          border-radius: 100%;
          object-fit: contain;
          background-color: white;
        }

        div {
          display: flex;
          justify-content: space-between;
          text-align: center;
          align-items: center;
          padding: 0 10px;
          margin: 20px 0;

          i {
            width: 40px;
            height: 40px;
            background-color: lightgrey;
            border-radius: 100%;
            font-size: 22px;
            line-height: 40px;
          }

          span {
            color: $secondary;
            letter-spacing: 1px;
            font-size: 22px;
          }

          a, a:active, a:link, a:visited {
            color: $secondary;
            text-decoration: none;
          }
        }
      }

      .languages {
        margin-top: 650px;
      }

      .languages, .interests {
        div {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;

          i {
            margin: 0 5px;
            font-size: 22px;
            color: $tertiary;
          }
        }
      }

      .heading {
        @include heading;
      }
    }

    .main {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 40px;

      .title {
        h1 {
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 5px;
          margin-bottom: 0;
          font-size: 40px;

          span {
            color: $tertiary;
          }
        }

        h2 {
          font-weight: normal;
          text-align: center;
          letter-spacing: 2px;
          margin-top: 0;
        }
      }

      .heading {
        @include heading;
      }

      .skills {
        div {
          text-align: left;
          line-height: 1.25;

          p {
            font-weight: bold;
            margin: 10px 0;
            color: $tertiary;
          }
        }
      }

      .experiences, .studies {
        div {
          text-align: left;

          p {

            &:not(:first-child){
              margin: 5px 15px;
            }

            &:first-child {
              padding: 5px;
              margin: 5px 0;
              font-weight: bold;
              width: fit-content;
              border: 1px solid $tertiary;
              color: $tertiary;
              font-size: 16px;
              display: inline-block;
            }
          }

          span {
            font-weight: bold;
            padding-left: 15px;
          }
        }
      }

      .date {
        position: absolute;
        bottom: 20px;
        right: 50px;
      }
    }
  }
}